.sidebar {
  flex: 0.35;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-right: 1px solid lightgreen;
}

.sidebar__header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.sidebar__avatar {
  cursor: pointer;
  margin: 10px;
}

.sidebar__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #e1e1e1;
  color: grey;
  border-radius: 5px;
}

.sidebar__inputs > input
{
    border: none;
    background: transparent;
    outline-width: 0;
}